$color-5: #a7bdd9;
$color-3: #00060d;

:host {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    background: url('/Backgrounds/waves-2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

hr {
    margin: 10px 0px;
}

body {
    display: flex;
    flex-direction: column;
}

.image-preview {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    border-radius: 50px;
}

.image-preview img {
    height: 200px;
    border-radius: 24px;
    background-color: #34343462;
    backdrop-filter: blur(4px);
}

label {
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}

input[type="file"] {
    display: none;
}

.prompt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field {
    width: 100%;
}

::ng-deep .mat-mdc-form-field-icon-suffix {
    color: black !important;
    background-color: rgba(255, 255, 255, 0.441);
    border-radius: 24px;
    margin-right: 10px !important;
    padding: 10px 5px !important;
    cursor: pointer;
}

::ng-deep .mat-mdc-floating-label {
    color: whitesmoke !important;
}

::ng-deep .mat-mdc-input-element {
    color: whitesmoke !important;
}

::ng-deep .mdc-line-ripple::before {
    display: none;
}

::ng-deep .mdc-line-ripple::after {
    display: none;
}

::ng-deep .mat-mdc-text-field-wrapper {
    width: 100%;
    border-radius: 24px !important;
    background-color: #ffffff3d !important;
    backdrop-filter: blur(4px);
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.response {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 20% 1fr;
    place-content: center;
    gap: 10px;
    background-color: #ffffff3d !important;
    backdrop-filter: blur(4px);
    border-radius: 24px;
    padding: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
    flex: 1;
}

.response h1 {
    text-align: center;
    color: #cbc9fe;
    font-weight: 800;
    margin: 0;
    align-self: center;
}

.response img {
    height: 150px;
    border-radius: 24px;
    align-self: center;
}

.response video {
    justify-self: center;
    align-self: center;
}

.response1 {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    font-size: clamp(1.2rem, 2.5vw, 1.4rem);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

.response1 p {
    margin: 0;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}